<div id="all">
    <mat-toolbar id="matTool">
        <div class="butNav">
            <img src="../assets/star (2).png" id="logo" />
        </div>
        <button mat-raised-button color="warn" routerLink="/login" class="butNav">הרשמה</button>
        <button mat-raised-button color="warn" routerLink="/instruction" class="butNav">הוראות</button>
        <span class="example-spacer"></span>
        <span *ngIf="!ifNotGuest()">שלום אורח!</span>
        <span *ngIf="ifNotGuest()">שלום {{userName}}!</span>
    </mat-toolbar>
    <router-outlet id="r"></router-outlet>
</div>
<div></div>